app = "gay-minecraft"
primary_region = "dfw"

[build]
image = "itzg/minecraft-server:java21-alpine"

[env]
TYPE = "FORGE"
VERSION = "1.20.1"
FORGE_VERSION = "47.3.0"
EULA = "true"
# modpack/datapack config
GENERIC_PACK = "https://github.com/jfreedman0212/mc-forge-server/releases/latest/download/server.zip"
# non-vanillatweaks datapacks are manually installed via SSH/SFTP
VANILLATWEAKS_SHARECODE = "yQQGM6"
# heap size of 3 GB
MEMORY = "3G"
# autostop kills the server after no one has connected for a configured
# amount of time. while this ACTUALLY turns off the underlying Fly Machine,
# the config in [[services]] will turn it back on when someone connects
ENABLE_AUTOSTOP = "TRUE"
AUTOSTOP_TIMEOUT_EST = "3600"  # 3600 seconds = 1 hour
AUTOSTOP_TIMEOUT_INIT = "1800" # 1800 seconds = 30 minutes
AUTOSTOP_PERIOD = "10"         # checks every 10 seconds for activity
# prevents logs from building up indefinitely
ENABLE_ROLLING_LOGS = "true"
# MC Server config
RCON_CMDS_STARTUP = """
        /gamerule playersSleepingPercentage 1
        /gamerule mobGriefing false
    """
MODE = "survival"
SERVER_NAME = "gay_minecraft"
MOTD = "gay minecraft"
DIFFICULTY = "normal"
SEED = "81498"
LEVEL = "gay_minecraft_v3"
SPAWN_PROTECTION = "0"
ALLOW_FLIGHT = "TRUE"
# Operator/admin config
OVERRIDE_OPS = "true"
OPS_FILE = "https://github.com/jfreedman0212/mc-forge-server/releases/latest/download/ops.json"
# Whitelist config
OVERRIDE_WHITELIST = "true"
ENABLE_WHITELIST = "true"
ENFORCE_WHITELIST = "true"
WHITELIST_FILE = "https://github.com/jfreedman0212/mc-forge-server/releases/latest/download/whitelist.json"

[mounts]
source = "mc_data"
destination = "/data"

[[services]]
internal_port = 25565
protocol = "tcp"
ports = { port = 25565 }
auto_stop_machines = "off"
auto_start_machines = true
min_machines_running = 0
concurrency = { type = "connections", hard_limit = 25, soft_limit = 20 }

[[vm]]
size = "shared-cpu-2x"
memory = "4gb"
